.one {
     cursor: pointer;
 }
.one {
    cursor: default;
}
.one {
    background-color: red;
}



.box {
    border: 1px solid silver;
}


.box {
 color: darkblue;
}

.one {
    padding: 10px;
}

.box {
    border: 1px solid silver;
}
