.one {
    cursor: pointer;
}
.one {
    cursor: default;
}
.one {
    background-color: red;
}

.comment {
    width: 300px;
    height: 300px;
    background: url(sprite/ico-comment.png) no-repeat 0 0;
}

.bubble {
    width: 300px;
    height: 300px;
    background: url(sprite/ico-bubble.png) no-repeat 0 0;
}